<!DOCTYPE html>
<html lang="fr_FR">
<head>
    <title>E-FARMERS</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link href="{{ asset('frontaccueil/TemplateArialogic/layout/styles/layout.css') }}" rel="stylesheet" type="text/css" media="all">
    <script src="{{ asset('frontaccueil/js/jquery-1.7.1.min.js') }}"></script>
    <script src="{{ asset('frontaccueil/js/superfish.js') }}"></script>

    <link href="{{ asset('frontaccueil/bootstrap.min.css') }}" rel="stylesheet" id="bootstrap-css">
    <link href="{{ asset('frontaccueil/loginCss.css') }}" rel="stylesheet" id="bootstrap-css">
    <script src="{{ asset('frontaccueil/js/jquery.easing.1.3.js') }}"></script>
    <script src="{{ asset('frontaccueil/js/tms-0.4.1.js') }}"></script>
    <script src="{{ asset('frontaccueil/js/slider.js') }}"></script>
    <script src="{{ asset('frontaccueil/js/html5.js') }}"></script>

    <script src="{{ asset('frontaccueil/TemplateArialogic/layout/scripts/jquery.min.js') }}"></script>
    <script src="{{ asset('frontaccueil/TemplateArialogic/layout/scripts/jquery.backtotop.js') }}"></script>
    <script src="{{ asset('frontaccueil/TemplateArialogic/layout/scripts/jquery.mobilemenu.js') }}"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

    <!-- IE9 Placeholder Support -->
    <script src="{{ asset('frontaccueil/TemplateArialogic/layout/scripts/jquery.placeholder.min.js') }}"></script>
    <script type="text/javascript">
        function show_plus(name,etat,nbre){

            if(etat=="0"){
                $('#'+name).hide();

                for(var i=1;i<=nbre;i++){
                    $('#'+name+i).show();
                }
            }else {
                $('#'+name).show();
                for(var i=1;i<=nbre;i++){
                    $('#'+name+i).hide();
                }
            }
        }
    </script>
</head>
<body id="top"  onload="show_plus('comment_plus','1','4')
  show_plus('comment2_plus','1','7')
  show_plus('comment3_plus','1','13')">
{#<div class="bgded" style="margin-top: 11%; background-image:url(http://localhost:8080/AgriBen/web/frontaccueil/images/headimage.jpg); ">#}
<div  class="bgded" style="margin-top: 5%; background-image:url('{{asset('frontaccueil/images/headimage.jpg') }}');" >
    <!-- #########################################################################
    ###################### -->
    <div class="wrapper overlay">
    <!-- Header -->
    {% block header %}
        {%  include('BlockAccueil/header.html.twig') %}
    {% endblock %}
    <!-- Content -->
    {% block content %}
        {%  include('BlockAccueil/Content.html.twig') %}
    {% endblock %}
    <!-- Footer -->
    {% block footer %}
        {%  include('BlockAccueil/footer.html.twig') %}
    {% endblock %}

    </div>
</div>
</body>
</html>
