<!-- Header -->
<header id="header" class="hoc clear" style="">

        <h1 class="logo" ><a href="default/index.html.twig" style="color:#82A800;">BenAgriculture</a></h1>
        <nav id="mainav" class="clear ">
            <ul class="clear">
                <li class="active"> <a style="font-size: 1em" href="index.html.twig">Accueil</a></li>
                <li class="drop"> <a style="font-size: 1em" href="marche.html">Marche</a>
                    <ul>
                        <li><a href="{{ path('fos_user_security_login') }}">Offre</a></li>
                        <li><a href="{#{{ path('fos_user_security_login') }}#}">Demande</a></li>
                        <li><a href="{#{{ path('fos_user_security_login') }}#}">Prix sur le marche</a></li>
                    </ul>
                </li>
                <li class="drop"><a style="font-size: 1em" href="connaissancesagricoles.html">Connaissances agricoles</a>
                    <ul>
                        <li><a href="#">Technique de production</a></li>
                        <li><a href="#">Technique agroecologique</a></li>
                        <li><a href="#">Technique de conservation</a></li>
                    </ul>
                </li>
                <li><a style="font-size: 1em" href="sabonner.html">S'abonner</a></li>
                <li><a style="font-size: 1em" href="sabonner.html">A propos</a></li>
                <li><a style="font-size: 1em" href="contacts.html">contact</a></li>
            </ul>
        </nav>
        <div class="clear">

            <a class="btn btn-success" href="{{ path('fos_user_registration_register') }}" style="margin-left: 70%;"> <i class="fa fa-inbox"></i> Inscription </a>
            <a class="btn btn-success" href="{{ path('fos_user_security_login') }}"> <i class="fa fa-inbox"></i> Connexion...!</a>
        </div>

</header>

