<!-- Header -->
<header class="hoc clear">
    <nav class="navbar is-fixed-top is-black" role="navigation" aria-label="main navigation" style="height: 10%">
        <div class="navbar-brand">
            <a class="navbar-item" href="http://localhost:8080/e-farmers/web/app_dev.php/">
                <h2>E-FARMERS</h2>
            </a>
            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-end">
                <a class="navbar-item has-text-success " href="http://localhost:8080/e-farmers/web/app_dev.php/"  >Acceuil</a>
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link has-text-success" href="http://localhost:8080/e-farmers/web/app_dev.php/marche">Marche</a>
                    <div class="navbar-dropdown">
                        <a class="navbar-item has-text-black" href="http://localhost:8080/e-farmers/web/app_dev.php/offreliste">Offre</a>
                        <a class="navbar-item has-text-black" href="http://localhost:8080/e-farmers/web/app_dev.php/Demandeliste">Demande</a>
                        <a class="navbar-item has-text-black" >Prix sur le marche</a>
                    </div>
                </div>
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link has-text-success">Connaissances Agricoles</a>
                    <div class="navbar-dropdown">
                        <a class="navbar-item has-text-black" href="{{ path('article_index_techpro') }}">Technique de production</a>
                        <a class="navbar-item has-text-black" href="{{ path('article_index_techagroeco') }}">Technique de agroecologique</a>
                        <a class="navbar-item has-text-black"href="{{ path('article_index_techconver') }}">Technique de conservation</a>
                    </div>
                </div>
                <a class="navbar-item has-text-success" href="{{ path('fos_user_security_login') }}">S'abonner</a>
                <a class="navbar-item has-text-success" href="http://localhost:8080/e-farmers/web/app_dev.php/apropos">A propos</a>
                <a class="navbar-item has-text-success" href="http://localhost:8080/e-farmers/web/app_dev.php/contact">Contact</a>
                <a class="navbar-item has-text-success" href="{{ path('fos_user_security_login') }}">
                    <span class="icon">
                      <i class="fa fa-user is-large"></i>
                    </span> Login
                </a>
                <a class="navbar-item has-text-success" href="{{ path('fos_user_registration_register') }}">
                    <span class="icon">
                      <i class="fa fa-user-plus is-large"></i>
                    </span> Sign Up
                </a>
            </div>
        </div>
    </nav>
    <script>
        $(document).ready(function() {

            // Check for click events on the navbar burger icon
            $(".navbar-burger").click(function() {

                // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                $(".navbar-burger").toggleClass("is-active");
                $(".navbar-menu").toggleClass("is-active");

            });
        });
    </script>
</header>

