{% extends 'base.html.twig' %}

{% block content %}
<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h1>Liste des Agriculteurs</h1>

                <table class='table'>
                    <thead>
                    <tr>
                        <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nom et Prenoms</th>
                        <th>Telephone</th>
                        <th>Culture</th>
                    </tr>
                    </thead>
                    </tr>
                    </thead>
                    <tbody>
                    {% for listeUser in listeUsers %}
                        <tr>
                            <td><a href="{{ path('listeuser_show', { 'id': listeUser.Id }) }}">{{ listeUser.Id }}</a></td>
                            <td>{{ listeUser.Nom_et_Prenom }}</td>
                            <td>{{ listeUser.telephone }}</td>
                            <td>{{ listeUser.culture }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                {# <ul>
                     <li>
                         <a href="{{ path('demande_new') }}">Create a new demande</a>
                     </li>
                 </ul>#}


            </div>
        </div>
    </div>
</div>
{% endblock %}