


{% extends 'base.html.twig' %}

{% block content %}

<div class="card">
    <div class="card-body">
        <h4 class="card-title"></h4>
            <h1>Offre</h1>
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <img src="{{  asset('uploads/offreImages/' ~ offre.image) }}" class="img-fluid" alt="image"/>
            </div>
            <div class="col-sm-12 col-md-6">
                <table class="table">
                    <tbody>
                        <tr>
                            <th>Id</th>
                            <td>{{ offre.id }}</td>
                        </tr>
                        <tr>
                            <th>Prix</th>
                            <td>{{ offre.produitId.libelle }}</td>
                        </tr>
                        <tr>
                            <th>Datedebut</th>
                            <td>{% if offre.dateDebut %}{{ offre.dateDebut|date('d-m-Y') }}{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Date de fin</th>
                            <td>{% if offre.dateFin %}{{ offre.dateFin|date('d-m-Y') }}{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Quantite disponible</th>
                            <td>{{ offre.qteDisponible }}</td>
                        </tr>
                        <tr>
                            <th>Prix de l'offre</th>
                            <td>{{ offre.prix|number_format(0,',',' ') }}</td>
                        </tr>

                    </tbody>
                </table>

            </div>
        </div>
        {<ul>
            <li>
                <a href="{{ path('listeuser_show',{'id': listeuser.Id}) }}" class="btn btn-success">Acceder à l'agriculteur </a>
            </li>
        </ul>
    </div>
</div>


{% endblock %}



