
    <ul class="app-menu">
        <li><a class="app-menu__item active" href="index.html"><i class="app-menu__icon fa fa-dashboard"></i><span class="app-menu__label">Dashboard</span></a></li>
        {% if is_granted('ROLE_SUPER_ADMIN') %}
            <li class="treeview"><a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-edit"></i><span class="app-menu__label">Produit</span><i class="treeview-indicator fa fa-angle-right"></i></a>
                <ul class="treeview-menu">
                    <li><a class="treeview-item" href="{{ path('produit_index') }}"><i class="icon fa fa-circle-o"></i>Liste</a></li>
                    <li><a class="treeview-item" href="{{ path('produit_new') }}"><i class="icon fa fa-circle-o"></i> Ajouter</a></li>
                </ul>
            </li>
        {% endif %}
        <li class="treeview"><a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-th-list"></i><span class="app-menu__label">Repertoire des Agriculteurs</span><i class="treeview-indicator fa fa-angle-right"></i></a>
            <ul class="treeview-menu">
                <li><a class="treeview-item" href="{{ path('demande_index') }}"><i class="icon fa fa-circle-o"></i> Liste</a></li>
            </ul>
        </li>
        {% if is_granted('ROLE_SUPER_ADMIN')or  is_granted('ROLE_AGRICULTEUR') %}
            <li class="treeview"><a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-edit"></i><span class="app-menu__label">Champs</span><i class="treeview-indicator fa fa-angle-right"></i></a>
                <ul class="treeview-menu">
                    <li><a class="treeview-item" href="{{ path('champ_index') }}"><i class="icon fa fa-circle-o"></i>Liste</a></li>
                    <li><a class="treeview-item" href="{{ path('champ_new') }}"><i class="icon fa fa-circle-o"></i> Ajouter</a></li>
                </ul>
            </li>
        {% endif %}
        {% if is_granted('ROLE_SUPER_ADMIN')or  is_granted('ROLE_AGRICULTEUR') %}
            <li class="treeview"><a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-edit"></i><span class="app-menu__label">Abonnements</span><i class="treeview-indicator fa fa-angle-right"></i></a>
                <ul class="treeview-menu">
                    <li><a class="treeview-item" href="{{ path('abonnement_index') }}"><i class="icon fa fa-circle-o"></i>Liste</a></li>
                    <li><a class="treeview-item" href="{{ path('abonnement_new') }}"><i class="icon fa fa-circle-o"></i> Ajouter</a></li>
                </ul>
            </li>
        {% endif %}
        {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_AGRICULTEUR')%}
            <li class="treeview"><a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-edit"></i><span class="app-menu__label">Article</span><i class="treeview-indicator fa fa-angle-right"></i></a>
                <ul class="treeview-menu">
                    <li><a class="treeview-item" href="{{ path('article_index') }}"><i class="icon fa fa-circle-o"></i>Liste</a></li>
                    <li><a class="treeview-item" href="{{ path('article_new') }}"><i class="icon fa fa-circle-o"></i> Ajouter</a></li>
                </ul>
            </li>
        {% endif %}

         {% if is_granted('ROLE_CLIENT')or is_granted('ROLE_SUPER_ADMIN')  %}

        <li class="treeview"><a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-edit"></i><span class="app-menu__label">Offre</span><i class="treeview-indicator fa fa-angle-right"></i></a>
            <ul class="treeview-menu">
                <li><a class="treeview-item" href="{{ path('offre_index') }}"><i class="icon fa fa-circle-o"></i>Liste</a></li>
                {% if is_granted('ROLE_AGRICULTEUR') or is_granted('ROLE_SUPER_ADMIN') %} <li><a class="treeview-item" href="{{ path('offre_new') }}"><i class="icon fa fa-circle-o"></i> Ajouter</a></li> {% endif %}
            </ul>
        </li>
        {% endif %}
        {% if is_granted('ROLE_CLIENT')  %}
        <li class="treeview"><a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-th-list"></i><span class="app-menu__label">Demande</span><i class="treeview-indicator fa fa-angle-right"></i></a>
            <ul class="treeview-menu">
                <li><a class="treeview-item" href="{{ path('demande_index') }}"><i class="icon fa fa-circle-o"></i> Liste</a></li>
                <li><a class="treeview-item" href="{{ path('demande_new') }}"><i class="icon fa fa-circle-o"></i>Ajouter</a></li>
            </ul>
        </li>
        {% endif %}


       {# <li class="treeview &#123;&#35;is-expanded&#35;&#125;"><a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-file-text"></i><span class="app-menu__label">Pages</span><i class="treeview-indicator fa fa-angle-right"></i></a>
            <ul class="treeview-menu">
                <li><a class="treeview-item " href="blank-page.html"><i class="icon fa fa-circle-o"></i> Blank Page</a></li>
                <li><a class="treeview-item" href="page-login.html"><i class="icon fa fa-circle-o"></i> Login Page</a></li>
                <li><a class="treeview-item" href="page-lockscreen.html"><i class="icon fa fa-circle-o"></i> Lockscreen Page</a></li>
                <li><a class="treeview-item" href="page-user.html"><i class="icon fa fa-circle-o"></i> User Page</a></li>
                <li><a class="treeview-item" href="page-invoice.html"><i class="icon fa fa-circle-o"></i> Invoice Page</a></li>
                <li><a class="treeview-item" href="page-calendar.html"><i class="icon fa fa-circle-o"></i> Calendar Page</a></li>
                <li><a class="treeview-item" href="page-mailbox.html"><i class="icon fa fa-circle-o"></i> Mailbox</a></li>
                <li><a class="treeview-item" href="page-error.html"><i class="icon fa fa-circle-o"></i> Error Page</a></li>
            </ul>
        </li>#}
    </ul>
    