{% extends 'BlockAccueil/base.html.twig' %}

{% block content %}
    <div style="margin-top: 2%;margin-bottom:2% " class="inner container">
        <div class="row">
            {#<div style="background-color: red;height: 10%" class="col-md-6">#}

            {#</div>#}

            <div class="col-md-1"></div>
            <div class="col-md-10 container-fluid"{# style="background-color: red;height: 10%"#}>

                <div class="row">

                    {% for demande in demandes %}
                        <div class="col-md-4">
                            <div class="card" style="background-color: #f2f3f4">
                                <div class="card-body">
                                    <h4 class="card-title" style="color: red;">Demande</h4>

                                    <div>
                                        <img style="width: 100%" src="{{ asset('front/images/main-bg.jpg') }}"
                                             alt="logo"/>
                                    </div>

                                    <div id="traffic-chart-legend"
                                         class="rounded-legend legend-vertical legend-bottom-left pt-4">
                                        <table class="table table-bordered">
                                            <tbody>
                                            <tr>
                                                <th>Quantitecmd</th>
                                                <td>{{ demande.quantiteCmd }}</td>
                                            </tr>
                                            <tr>
                                                <th>Prixutvoulue</th>
                                                <td>{{ demande.prixUTvoulue|number_format('0',' ',' ') }}</td>
                                            </tr>
                                            <tr>
                                                <th>Datedebut</th>
                                                <td>{% if demande.dateDebut %}{{ demande.dateDebut|date('Y-m-d') }}{% endif %}</td>
                                            </tr>
                                            <tr>
                                                <th>Datefin</th>
                                                <td>{% if demande.dateFin %}{{ demande.dateFin|date('Y-m-d') }}{% endif %}</td>
                                            </tr>
                                            </tbody>
                                            <tfoot>

                                            </tfoot>
                                        </table>
                                        <a class="btn btn-success" href="{{ path('fos_user_security_login') }}">Accceder a la demande</a>

                                        {#<h5>Quantite :{{ demande.quantiteCmd }}</h5><br>#}
                                        {#<h5>Prix : {{ demande.prixUTvoulue |number_format('0',' ',' ') }}</h5><br>#}
                                        {#<h5>Date Debut : {{ demande.dateDebut |date('d-m-Y') }}</h5><br>#}
                                        {#<h5>Date FIn : {{ demande.dateFin |date('d-m-Y') }}</h5><br>#}
                                    </div>
                                </div>
                            </div>
                        </div>

                    {% endfor %}

                </div>

            </div>
            <div class="col-md-1"></div>
        </div>

    </div>
{% endblock %}